@page
@using EMEHospitalWebApp.Pages.Extensions
@model EMEHospitalWebApp.Pages.Appointments.AppointmentsPage

@{
	Layout = "_Create";
}

<body>
	@Html.MyEditorFor(x => x.Appointment.Id)
	<partial name="_EditAppointment"/>
</body>
