@page
@model EMEHospitalWebApp.Pages.Appointments.AppointmentsPage

@{
	Layout = "_Details";
}

<body>
	<partial name="_EditAppointment" />
	<div>
		<a asp-page="./Edit" asp-page-handler = "Edit" asp-route-id="@Model.Appointment.Id">Edit</a> |
		<a asp-page="./Index" asp-page-handler="Index">Back to List</a>
	</div>
</body>