@page
@using EMEHospitalWebApp.Pages.Extensions
@model EMEHospitalWebApp.Pages.Party.CountryCurrenciesPage

@{
	Layout = "_Create";
}

<body>
	@Html.MyEditorForCRUD(x => x.Item.Id)
	<partial name="_EditCountryCurrency"/>
</body>
