@page
@model EMEHospitalWebApp.Pages.Party.IndexPage
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<img id="IndexImage" src="img/IndexImage.jpg" alt="Website Logo"/>
	<h1 class="display-4">Sinu usaldusväärseim e-haigla</h1>
	<img id="log" src="img/logo2.png" alt="Website Logo"/>
</div>
