@page
@using EMEHospitalWebApp.Pages.Extensions
@model EMEHospitalWebApp.Pages.Patients.PatientsPage

@{
	Layout = "_Create";
}

<body>
	@Html.MyEditorFor(x => x.Patient.Id)
	<partial name="_EditPatient"/>
</body>
